@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.about {
  background-color: $background;
  &__content {
    display: flex;
    flex-direction: column;
    @include mobile-container;
    gap: 1rem;
  }
  &__title {
    color: $title-text-h3;
  }
  &__body {
    font-size: 0.75rem;
  }
}
